<Doctype html>
    <html lang="en">

    <head>
        <title>= title</title>

    </head>

    <body>


        <p> A line with a link</p>
        <ul class='sidebar-nav'>
              <li>
                <a href='/catalog'> Home </a>
              </li>
        </ul>
              <!-- li
                a(href='/catalog/books') All books
              li
                a(href='/catalog/authors') All authors
              li
                a(href='/catalog/genres') All genres
              li
                a(href='/catalog/bookinstances') All book-instances
              li
                hr
              li
                a(href='/catalog/author/create') Create new author
              li
                a(href='/catalog/genre/create') Create new genre
              li
                a(href='/catalog/book/create') Create new book
              li
                a(href='/catalog/bookinstance/create') Create new book instance (copy) -->
        <a href='/catalog/authors'>Link to Authors</a>

    </body>

    </html>